// Primary Colors
$pcBrainFlix-Black: #323232;
$pcBrainFlix-Blue: #0095FF;
$pcSilver: #AFAFAF;
$pcWhite: #FFFFFF;

// Secondary Colors
$scBrainFlix-DarkBlack: #000000;
$scBrainFlix-DarkBlue: #0065AD;
$scMercury: #E1E1E1;
$scAlabaster: #FAFAFA;
$errorState: #D22D2D;